In [1]:
print('HELLO WORLD')

HELLO WORLD

In [4]:
n=0 # int
m=0.5 #floot
name = 'tim'   #str
is_goole = True #bool

In [3]:
print(n)
print(m)
print(name)
print(is_goole)

0
0.5
tim
True

In [5]:
t1 = (1,2,3,4)
print(type(t1))

t2 = ('a','b','c') #內容值不可更動
t2

<class 'tuple'>

('a', 'b', 'c')

In [8]:
#tuple,暫時的資料
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)
#一次創建多筆變數，()可省略
name,chinese,math,english = '徐國堂',78,92,65

print(name)
print(chinese)
print(math)
print(english)

徐國堂
78
92
65

In [10]:
mylist = [1,2,3,4]
mylist

[1, 2, 3, 4]

In [11]:
print(type(mylist))

<class 'list'>

In [17]:
student1 = ['徐國堂',78,92,65]
student1

['徐國堂', 78, 92, 65]

In [18]:
#Subscript
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

徐國堂
78
92
65

In [21]:
#list iterable
for element in student1:
    print(element)

徐國堂
78
92
65

In [22]:
greeting = 'Hello today is bed day'
for ele in greeting:
    print(ele)

H
e
l
l
o

t
o
d
a
y

i
s

b
e
d

d
a
y

In [23]:
my_tuple = (1,2,'123')
for ele in my_tuple:
    print(ele)

1
2
123

In [25]:
#dictionary
std = {'Name':'Tim' ,
'chiness':95,
'math':85,
'english':100}

std

print(type(std))
print(std['chiness'])

<class 'dict'>
95

In [28]:
for key in std:
    print(std[key])

Tim
95
85
100